* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	background-color: darkgray;
}
.container {
	width: 400px;
	height: 490px;
	background-color: rgb(250, 250, 255);
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	color: black;
}
.input-output {
	width: 380px;
	height: 75px;
	background-color: rgb(255, 255, 255);
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: end;
	font-size: 50px;
	padding-right: 5px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.controls {
	background-color: rgba(255, 255, 255, 0.801);
	height: 380px;
	width: 380px;
	border-radius: 6px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.clear-delete {
	width: 380px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.clear-delete > button {
	width: 190px;
	height: 60px;
	background-color: rgb(255, 255, 255);
}
.clear-delete > button:hover {
	background-color: rgb(216, 216, 214);
}
.clear-delete > .c {
	color: red;
	font-size: 25px;
	font-weight: bold;
}
.clear-delete > .d {
	font-size: 25px;
	color: blue;
	font-weight: bold;
}

.numbers-symbols {
	display: flex;
	flex-wrap: wrap;
}
.numbers {
	width: 300px;
	height: 240px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.numbers > button {
	width: 98px;
	height: 80px;
	background-color: rgb(255, 255, 255);
	font-size: 22px;
}
.numbers > button:hover {
	background-color: rgb(216, 216, 214);
}

.symbols {
	height: 240px;
	width: 80px;
	display: flex;
	flex-wrap: wrap;
}
.symbols > button {
	width: 80px;
}
.math-symbol {
	background-color: rgb(255, 255, 255);
	font-size: 22px;
	color: blue;
}
.math-symbol:hover {
	background-color: rgb(216, 216, 214);
}

.annoying {
	width: 380px;
	height: 80px;
	display: flex;
}
.annoying button {
	background-color: rgb(255, 255, 255);
	font-size: 22px;
}
.annoying button:hover {
	background-color: rgb(216, 216, 214);
}

.zero {
	width: 100px;
	height: 80px;
}
.zero > button {
	width: 99px;
	height: 78px;
}

.decimal-point {
	width: 100px;
	height: 80px;
}

.decimal-point > button {
	width: 99px;
	height: 78px;
}

.annoying :nth-child(3) button {
	width: 185px;
	height: 80px;
	background-color: blue;
	font-size: 22px;
	color: white;
}

button {
	border: none;
	border-radius: 10px;
}
